<div class="five columns centered">
  <%= form_for :forgot, :url => forgotpassword_path, :html=> { 'id' => 'forgot-password' } do |f| %>
    <fieldset>
      <legend>Forgot to Password</legend>
      <div class="columns centered">
        <%= f.email_field :email, {'placeholder' => 'You email', 'type' => 'text', 'class' => 'five'}  %>
      </div>
      <div class="columns centered">
        <%= f.submit "Send", {'class' => 'radius button small'} %>
      </div>
      <br>
      <p>
        <%= link_to "Registration", signup_path, {"data-bypass" => "true"} %> 
        <span style="margin-left: 20px">
          <%= link_to "Sign in", signin_path, {"data-bypass" => "true"} %>
        </span>
      </p>
    </fieldset>
  <% end %>
</div>