<div class="five columns centered">
  <%= form_for :new, :url => changepassword_path, :html => { 'id' => 'new-password' } do |f| %>
    <fieldset>
      <legend>New Password</legend>
      <div class="columns centered">
        <%= f.password_field :password, {'placeholder' => 'New password', 'type' => 'password', 'class' => 'six'}  %>
      </div>
      <div class="columns centered">
        <%= f.password_field :password_confirmation, {'placeholder' => 'Confirm new password', 'type' => 'password', 'class' => 'six'}  %>
      </div>
      <%= f.hidden_field :hashlink, {'type' => 'hidden', 'value' => @hash}  %>
      <div class="columns centered">
        <%= f.submit "Change Password", {'class' => 'radius button small'} %>
      </div>
      <br>
    </fieldset>
  <% end %>
</div>