<div class="seven columns centered chat" data-id="<%= user.user_id %>">
  <hr>
  <div class="two columns mobile-one">
    <a href="/users/<%= user.user_id %>">
      <img alt="<%= _.escape(user.firstname) %>" src="<%= user.avatar.url %>">
      </a>
  </div>
  <div class="ten columns">
    <p><strong><%= _.escape(user.firstname) %> <%= _.escape(user.lastname) %></strong></p>
  </div>
</div>
