<hr>
<div class="columns mobile-one">
  <a href="/users/<%= user.id %>"><img alt="<%= user.firstname %>" src="<%= user.avatar.url %>"></a>
</div>
<div class="columns">
  <p><strong><%= user.firstname %> <%= user.lastname %></p>
</div>