<hr>
<div class="columns mobile-one">
  <a href="/users/<%= user.id %>"><img alt="<%= escape(user.firstname) %>" src="<%= user.avatar.url %>"></a>
</div>
<div class="columns">
  <p><strong><%= escape(user.firstname) %> <%= escape(user.lastname) %></p>
</div>