<hr>
<div class="columns mobile-one">
  <a href="/users/<%= user.id %>"><img alt="<%= _.escape(user.firstname) %>" src="<%= user.avatar.url %>"></a>
</div>
<div class="columns">
  <p><strong><%= _.escape(user.firstname) %> <%= _.escape(user.lastname) %></p>
</div>