<hr data-id="<%= user.id %>">
<% if(current_user == user.user_id) { %>
  <a data-bypass="true" href="" class="remove-message right">&times;</a>
<% } %>
<div class="two columns mobile-one">
  <a href="/users/<%= user.user_id %>">
    <img alt="<%= user.firstname %>" src="<%= user.avatar.thumb.url %>">
    </a>
</div>
<div class="ten columns">
  <p>
    <strong><%= user.firstname %> <%= user.lastname %></strong>
    <span class="right datetime"><%= user.datetime %></span>
  </p>
  <p><%= user.text %></p>
</div>